*{padding: 0;margin: 0;}
body{
	font-family: "montserrat", sans-serif;
	color: #fff;
}

/*-- reusable components--*/


h1 {
	margin-bottom: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 50px;
	color:#fff;
}
h2{
	text-transform: uppercase;
	font-size: 40px;
	color:#fff;
}
p{
		font-size: 18px;
		padding: 30px 0;
}
a{
	font-size: 15px;
}
span{
	font-size: 20px;
}
/*-- ruy băng --*/
.popular{
	background: #c03a2b88;
	color:#fff;
	transform:rotate(45deg);
	padding: 10px 40px;
	position: absolute;
	top: 20px;
	right: -40px;
}
.col{
	flex: 23%;
	max-width: 24%;
	padding: 10px;
}

.border {
	height: 5px;
	width: 300px;
	margin: auto;
	background: #fff;
	display: block;
	margin-bottom: 50px;
	border-radius: 15px
}

/*---end reusable --*/


/*-- Header and Navigator --*/

.header {
	height: 100px;
	background: #3498db;
	padding: 0 20px;
}

.logo {
	line-height: 100px;
	float: left;
	text-transform: uppercase;
}

.menu {
	float: right;
	line-height: 100px;
}

.menu a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.2s;
	color: #fff;
}

.show-menu-btn,
.hide-menu-btn {
	transition: 0.2s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn {
	float: right;
}

.show-menu-btn i {
	line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
	color: #3498db;
	transform: scale(1.2);
}

#chk {
	position: absolute;
	visibility: hidden;
	z-index: -1;
}
/*-- end Header and Navigator --*/

/*--- slideshow ---*/

.middle{
	position: relative;
  }
.slider{
	height: 550px;
}
.slidershow{
	width: 100%;
	height: 100%;
	overflow: hidden
}
  .navigation{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
  }
  .bar{
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	margin: 15px;
	cursor: pointer;
	transition: 1s all;
	}
  .bar:hover{
		background: #fff;
		transform: translate(1.4);
	}

  
  input[name="r"]{
	  position: absolute;
	  visibility: hidden;
  }
  
  .slides{
	width: 500%;
	height: 100%;
	display: flex;
  }
  
  .slide{
	width: 20%;
	transition: 0.8s;
  }
  .slide img{
	width: 100%;
	height: 100%;
  }
  
  #r1:checked ~ .s1{
	margin-left: 0;
  }
  #r2:checked ~ .s1{
	margin-left: -20%;
  }
  #r3:checked ~ .s1{
	margin-left: -40%;
  }
  #r4:checked ~ .s1{
	margin-left: -60%;
  }
  #r5:checked ~ .s1{
	margin-left: -80%;
  }
  
/*--- end slider ---*/

/*-- the Content and the Description --*/
.description{
	width: 100%;
	height: 100vh;
	background:#000;
	position: relative;
	overflow: hidden;
}
.description::after{
	content:"";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D1600%252C1055%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C1055%26image_uri%3Dhttp%253A%252F%252Fo.aolcdn.com%252Fhss%252Fstorage%252Fmidas%252Fe0fb2686cb35c31aa63009beb4d9a13b%252F206546644%252FMacBook%252BPro%252Bgallery%252B10.jpg%26client%3Da1acac3e1b3290917d92%26signature%3D4b7c6d9fec6ec988dc7ec49c9784a44159151922&client=amp-blogside-v2&signature=06f5074db4472d25216f41202b87f989cf4c3c9c) no-repeat;
	background-size: cover;
	opacity: .6;
	animation: description_ani 10s linear infinite;
}
.page-content{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	width: 100%;
	max-width: 800px;
	padding: 50px 40px;
}
.page-content-title{
	color:#ff7979;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 20px;
}
.page-content a{
	text-decoration: none;
	display: inline-block;
	color:#ff7979;
	border:2px solid #ff7979;
	padding: 10px 20px;
	transition: 0.4s linear;
}
.page-content a:hover{
	color:#fff;
	background: #ff7979;
}

/*--- end Content --*/



/*-- about us --*/

.about-us {
	overflow: hidden;
	text-align: center;
	background: #e74d3c;
	padding: 60px;
}
.ps {
	margin-bottom: 30px;
}
.ps a {
	display: inline-block;
	overflow: hidden;
	margin: 40px;
	border-radius: 50%;
}
.ps a img {
	width: 180px;
	height: 180px;
	filter: grayscale(100%);
	transition: 0.4s all;
}
.ps a:hover>img {
	filter: none;
	transform: scale(1.4);
}
.section {
	width: 600px;
	margin: auto;
	text-align: center;
	overflow: hidden;
	height: 0;
}
.section:target {
	height: auto;
}
.name {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	margin-bottom: 20px;
}

/*-- our service --*/
.our-services {
    background-image: linear-gradient(45deg,rgba(255, 9, 9, 0) 35%,rgba(255, 251, 35,0.4)),url(http://www.tradeready.ca/wp-content/uploads/2016/09/Working-with-Americans.jpg);
    background-size: cover;
		background-position: center center;
		background-attachment: fixed;
    text-align: center;
}
.our-services-title {
	display: inline-block;
	margin-top: 40px;
	padding-bottom: 20px;
}
.cen {
	max-width: 1200;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}
.service {
	display: inline-block;
	width: calc(100%/3);
	margin: 0 -2px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.3 all;
}
.service:hover {
	background: #27ae5f50;
}
.service i {
	font-size: 24px;
	margin-bottom: 30px;
}
.service-roles{
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	margin-bottom: 30px;
}
.service p {
  font-weight: 500;
  padding-bottom: 60px;
}

/*-- pricing ---*/

.pricing-table{
	height: auto;
	display: flex;
	justify-content: center;
	padding: 50px;
	background-image:url(http://www.securesourced.com/wp-content/uploads/services.background.png);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	flex-wrap: wrap;
}
/*-- col h2 đã tự động thêm vào ở reusable components --*/
.table{
	padding: 40px 30px;
	position: relative;
	background: #7f8c8d8c;
	overflow: hidden;
	box-shadow: 0 0 10px #000;
}
.table ul li{
	padding: 20 10px;
	list-style: none;
}
.price{
	display: block;
}
.price span{
	display: block;
	font-size: 20px;
	padding-bottom: 30px;
}
.table a{
	text-decoration: none;
	border: 2px solid #fff;
	display: block;
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 40px;
	text-transform: uppercase;
	transition: 0.5s linear;
}
.table a:hover{
	background: #2c3e50;
	transform: scale(1.1);
}

/*-- end pricing ---*/
/*-- testimonials --*/
.testimonials{
	padding: 40px 0;
	position: relative;
	background: #27ae60;
	color: #000;
	text-align: center;
}
.inner{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}
.row{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.testimonial{
	padding: 20px;
}
.testimonial img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	filter: grayscale(50%);
	transition: 0.5s all;
}
.testimonial img:hover{
	filter: none;
	transform: scale(1.5);
}
.starts{
	color: gold;
	margin: 30px 20px;
}
.fullname{
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
	letter-spacing: 2px;
}
/*--- end testimonials --*/

/*--- contact form --*/
.contact-form{
	background-image:url(https://farm8.staticflickr.com/7073/7378777532_0fd3f10c00_b.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.form{
	background: #51e3ee2f;
	text-align: center;
	padding: 30px 40px;
	box-sizing: border-box;
	text-transform: uppercase;
	border-radius: 10px;
	box-shadow: 0 0 20px #000;
	width: 40%;
}
.txtab{
	border:2px solid rgb(0, 0, 0);
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 10px;
}
.txtab label{
	display: block;
	text-align: left;
	font-size: 15px;
	color:#fff;
	font-weight: bolder;
	letter-spacing: 2px;
}
.txtab input , .txtab textarea{
	width: 100%;
	border: none;
	background: none;
	outline: 18px;
	margin-top: 10px;
	cursor: text;
	font-size: 20px;
}
/*-- end contact form --*/

/*--end services--*/

footer{
	background-image: url(https://www.calgary.ca/CA/city-manager/scripts/about-us/webparts/images/ourHistory_retina.jpg);
	height:700px;
	background-size: cover;
	background-attachment: local;
}
.middle{
	position: relative;
	text-align: center;
	top: 30%;
}
.social-btn{
	display: inline-block;
	width: 90px;
	height: 90px;
	background: #f1f1f1;
	border-radius: 10px;
	box-shadow: 0 5px 15px -5px #000;
	margin: 30px;
	overflow: hidden;
	position: relative;
}
.social-btn i{
	line-height: 90px;
	font-size: 50px;
	transition: 0.5s linear;
	color:#2980b9;
}
.social-btn:hover i{
	transform: scale(1.3);
	color: #f1f1f1;
}
.social-btn::before{
	content:"";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #3498db;
	transform: rotate(45deg);
	left: -110%;
	top: 80%;
}
 .social-btn:hover::before{
	animation: splited_away 0.7s 1;
	top: -10%;
	left: -10%;
}
@keyframes splited_away{
	0%{
		left:-110%;
		top: 90%;
	}50%{
		left: 10%;
		top: -30%;
	}100%{
		top: -10%;
		left: -10%;
	}
}
@keyframes description_ani{
	50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
@media screen and (max-width:650px) {
	.show-menu-btn,
	.hide-menu-btn {
		display: block;
	}
	
	.menu {
		position: fixed;
		width: 30%;
		height: 100%;
		background: #333;
		right: -100%;
		top: 0;
		text-align: right;
		padding-top:60px;
		line-height: normal;
		transition: 0.7s;
		z-index: 2;
	}
	
	.menu a {
		display: block;
		padding: 20px;
	}
	
	.hide-menu-btn {
		position: absolute;
		/* fixed thì "x" sẽ k biến mất , relative thì x sẽ đặt ở dưới cùng */
		top: 40px;
		right: 20px;
	}
	
	#chk:checked~.menu {
		right: 0;
		/* làm cho menu mắc vào thanh bên phải màn hình*/
	}
	
	.slidershow{
		height: 100%;
		width: 100%;
		display: block;
	}
	.bar{
		width: 20px;
	}	

	.about-us {
		padding: 0;
	}
	
	.about-us-title {
		padding-top: 40px
	}
	
	.ps a {
		margin: 10px;
	}
	
	.ps a img {
		width: 100px;
		height: 100px;
	}
	
	.section {
		width: 100%;
	}
	
	.section p {
		padding-bottom: 20px;
	}
	.service {
		width: 40%;
	}
	.service:hover{
		background: #140202bb;
		transform: scale(1.2);
	}
	/*-- testimonials responsive --*/
	.col{
		flex: 50%;
		max-width: 100%;
	}
	.form{
		width: 100%;
	}
	.social-btn{
		margin:10px;
	}
}
@media screen and (max-width:500px) {
	.bar{
		width: 20px;
	}
	.service {
		width: 100%;
		border-bottom: 1px solid #fff;
		margin-bottom: 40px;
	}
	
	.service:hover{
		background: #140202bb;
		transform: scale(1.2);
	}
	.col{
		flex:100%;
		max-width: 100%;
	}
	.form{
		width: 100%;
	}
	.social-btn{
		margin:40px;
	}
}